button {
	&.primary {
		border-radius: 100%;
		display: block;
		border: none;
		padding: 22px;
		box-shadow: -4px 3px 8px #44444488;
	}
}
.new-element-form {
	border: none;
	padding: 64px 32px;
	background: lightgray;
	box-shadow: -4px 3px 8px #44444488;
	border-radius: 42px;
	display: flex;
	flex-direction: column;
}

.my-page-footer {
	display: flex;
	justify-content: center;
	box-shadow: 0px -10px 16px -20px #ffffffaa;
	margin-top: 32px;
	padding-top: 32px;
	align-items: center;
}
