button {
	&.primary {
		border-radius: 100%;
		display: block;
		border: none;
		padding: 22px;
		box-shadow: -4px 3px 8px #44444488;
	}
}
.new-element-form {
	border: 1px solid black;
	padding: 64px 32px;
}
