section {
	grid-column: L/ R;
	&.title {
		grid-column: L/ span 1;
		display: flex;
		justify-content: flex-end;
		padding: 40px 0 10px 0;

		h1 {
			font-size: 5em;
			text-align: right;
			max-width: 400px;
		}
		@media (max-width: $breakpoint-tablet) {
			grid-column: L/ R;
			h1 {
				font-size: 3em;
			}
		}
	}
	&.form {
		grid-column: C/ span 1;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 40px 0 10px 0;

		h1 {
			font-size: 5em;
			text-align: left;
			max-width: 400px;
		}
		@media (max-width: $breakpoint-tablet) {
			grid-column: L/ R;
		}
	}
	&.flashcard {
		margin: 32px 64px;
		background: $base-color;
		padding: 62px;
		border-radius: 32px;
		box-shadow: 2px 2px 10px 5px darkgrey;
		@media (max-width: $breakpoint-phone) {
			padding: 22px;
			margin: 32px 0;
		}
	}
}
